.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.animated-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s, background-color 0.3s;
}

.animated-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
